elimination:
    words: classpath:sgb-words.txt
    words-per-code: 3
    registration-deadline: 2022-09-30T00:00
    game-start-time: 2022-08-31T00:00
    game-end-time: 2022-09-30T00:00
    client-id: ${CLIENT_ID:null}
    client-secret: ${CLIENT_SECRET:null}
    admins:
        - alecthechop@gmail.com
#        - ap40132@pausd.us

spring:
    datasource:
#        url: jdbc:postgresql://localhost:5432/postgres
#        username: postgres
#        password: postgres
        url: ${JDBC_DATABASE_URL}
        username: ${JDBC_DATABASE_USERNAME}
        password: ${JDBC_DATABASE_PASSWORD}

    jpa:
        hibernate:
            ddl-auto: update
    thymeleaf: # Thymeleaf
        cache: false
        mode: HTML
        encoding: UTF-8
        prefix: file:src/main/resources/templates/
    session:
        store-type: jdbc


server:
    error:
        include-message: always
        include-exception: true
        include-binding-errors: never
        include-stacktrace: always
    port: ${PORT:8080}