elimination:
    words: classpath:sgb-words.txt
    words-per-code: 3
    registration-deadline: 2022-09-30T00:00
    game-start-time: 2022-08-31T00:00
    game-end-time: 2022-09-30T00:00
    admins:
        - alecthechop@gmail.com
        - ap40132@pausd.us
spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/postgres
        username: postgres
        password: postgres

    jpa:
        hibernate:
            ddl-auto: update # recreate the database schema on startup (all previous data are lost)
    thymeleaf: # Thymeleaf
        cache: false
        mode: HTML
        encoding: UTF-8
        prefix: file:src/main/resources/templates/


server:
    error:
        include-message: always
        include-exception: true
        include-binding-errors: never
        include-stacktrace: always