table.fancy {
    border: 2px solid darkblue;
    text-align: center;
}

tbody tr td {
    border: inherit;
    vertical-align: middle;
    text-align: center;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
